


@font-face {
    font-family: 'title-bold';
  	src: url('../fonts/cardigan-titling/cardigan titling bd.ttf');
}

@font-face {
    font-family: 'title';
  	src: url('../fonts/cardigan-titling/cardigan titling rg.ttf');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/cardigan-titling/cardigan titling sb.ttf');

}


@font-face {
    font-family: 'gelSymbol';
    src: url('../fonts/lari/bpg_gel_dejavusans.eot');
    src: url('../fonts/lari/bpg_gel_dejavusans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lari/bpg_gel_dejavusans.woff2') format('woff2'),
         url('../fonts/lari/bpg_gel_dejavusans.woff') format('woff'),
         url('../fonts/lari/bpg_gel_dejavusans.ttf') format('truetype'),
         url('../fonts/lari/bpg_gel_dejavusans.svg#bpg_gel_dejavu_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
