.balance_container {
    height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;
    background-image:url('../img/profile.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:900px 900px;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.langs {
    display: block;
}
.langs a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    background-color: orange;
    text-decoration: none;
    background: radial-gradient(ellipse at center, #2B92BC 41%, #37CEF8 100%);
    display: inline-block;
    margin:5px;
}
.langs a:hover {
    color: #fff;
    text-decoration: none;
}
.langs a.active {
    color: #fff;
    background: linear-gradient(135deg, #2B92BC 41%, #37CEF8 100%);
    text-decoration: none;


}
.lang_switcher{
    position: absolute;
    top: 0;
    left: 0;
}
.lang_ge{
    position: absolute;
    top: 0;
    left: 75px
}
.lang_en{
    position: absolute;
    top: 50px;
    left: 50px
}
.lang_ru{
    position: absolute;
    top: 75px;
    left: 0;
}
#lang_container{
    display: none;
}

/*Start Information*/
.wallet_service{
    display: block;
}
.wallet_service a {
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    background-color: orange;
    text-decoration: none;
    background: radial-gradient(ellipse at center, #2B92BC 41%, #37CEF8 100%);
    display: inline-block;
    margin:5px;
}
#wallet_service_container a{
    text-decoration: none;
}
.wallet_service a:hover {
    color: #fff;
    background: radial-gradient(ellipse at center, #2B92BC 41%, #37CEF8 100%);
}
.wallet_service a.active {
    color: #fff;
    background: radial-gradient(ellipse at center, #2B92BC 41%, #37CEF8 100%);
}
/*#information_container{
    display: none;
}*/
.wallet_service_switcher a{
    background: radial-gradient(ellipse at center, #2B92BC 41%, #37CEF8 100%);!important;
}
.wallet_service_switcher{
    position: absolute;
    top: 0;
    right: 0;
}
.transactions{
    position: absolute;
    top: 0;
    right: 0;
}
.services{
    position: absolute;
    top: 0;
    right: 0;
}
.personal_information{
    position: absolute;
    top: 0;
    right: 0;
}
.add_balance{
    position: absolute;
    top: 0;
    right: 0;
}
.send_money{
    position: absolute;
    top: 0;
    right: 0;
}
.deposits{
    position: absolute;
    top: 0;
    right: 0;
}
.setting{
    position: absolute;
    top: 0;
    right: 0;
}
/*End Information*/
